@import '../base/typography';
@import '../base/colors';

.customModal {
    display: flex;
    flex-direction: column;
    font-family: $POPPINS;
    outline: none;
    align-self: center;
    justify-self: center;
    background: $BLACK;

    button {
        width: 20vw;
        height: 8vh;
        max-height: 5vh;

        font-weight: bolder;
        align-self: flex-end;
        margin: 0;
    }

    h1,
    p {
        font-size: clamp(1.3rem, 4vw, 1.6rem);
        padding-left: 1rem;
        margin: 0;
        color: $WHITE;
        text-align: left;
    }


    img {
        width: 70vw;
        height: 70vh;
        object-fit: contain;
        align-self: center;
    }
}

@media only screen and(min-width: 768px) {
    .customModal {
        top: 15%;
        left: 25%;
        height: 100vh;

        img {
            width: 40vw;
            height: 40vh;
            object-fit: contain;
            align-self: center;
        }
    }
}